* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;

  margin: 0 aut;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f22900;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;

  padding: 40px 15px 0 15px;
  color: black;
  font-size: 15px;
}

.navbar a:hover {
  color: #fcd7d6;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Desktop & Tablet Computer Screen */
@media all and (min-width: 768px) {
  nav ul li a {
    text-decoration: none;
    color: black;
    padding: 40px 15px 0 15px;
    margin-top: 0;
  }
} /* End of Desktop & Tablet Screen */

/* Mobile Screen */
@media all and (max-width: 768px) {
  .navbar {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar .links {
    display: flex;
    justify-content: space-between;
  }

  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 40px 15px 0 15px;
    color: #f22900;
    font-size: 15px;
  }

  .navbar a:hover {
    color: black;
  }

  nav ul li a {
    text-decoration: none;
    padding: 40px 15px 0 15px;
    margin-top: 0;
  }
} /* End of Mobile Screen */
